/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Poppins:wght@400;500&family=The+Nautigal:wght@700&family=Waterfall&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: bisque;
}
main{
    display: flex;
    justify-content: center;
}
.section-title{
    color: purple;
    font-size: 30px;
    margin-top: 3px;

}
hr{
    border: 1px solid rgba(78, 45, 109, 0.26);
    margin-top: 30px;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
}
/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 20px;
}
/* top blog styles */
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}